<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="emp" name = "employee" class="com.prowings.beanscopes.Employee" scope="prototype" >
		<property name="id" value="10" />
		<property name="name" value="Ram" />
		<property name="address" value="Pune" />
	</bean>

	<bean id="std" name="student" class="com.prowings.beanscopes.Student" >
		<property name="id" value="10" />
		<property name="name" value="Ram" />
		<!-- <property name="address" ref="addr"/> -->
		<lookup-method name="getAddress" bean="addr"/>
	</bean>

	<bean id="addr" name="address" class="com.prowings.beanscopes.Address" scope="prototype">
		<property name="pin" value="1234" />
		<property name="city" value="Pune" />
		<property name="country" value="India" />
	</bean>

 </beans>